In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../datasets/train.csv')

In [9]:
target = 'DC201'

In [8]:
df = df.drop('id', axis=1)

In [11]:
except_column = ['DC216', 'DC220', 'DC142a']

In [14]:
column_list = [column for column in df.columns if column != target and column not in except_column]

In [ ]:
except_column = ['DC216', 'DC220', 'DC142a']
df_copy = df.copy()

ori_value = []
for column in column_list:
    if column not in except_column:
        i = 0
        values = []
        for value in np.sort(df_copy[column].unique()):
            if not np.isnan(value):
                # ori_value.append(f"{column} : {value} -> {i}")
                ori_value
                df_copy[column].replace(to_replace={value:i}, inplace=True)
                i += 1
            
                
for column in column_list:
    if column not in except_column:
        print(column,"",np.sort(df_copy[column].unique()))

In [15]:
df.head()

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum

In [20]:
# KUNCI JAWABAN TOLOL

df_replace = df.replace({
    'DC109': {11:0, 12:1, 21:2, 31:3, 32:4, 33:5, 41:6, 51:7, 96:8}, 
    'DC270a': {1:0, 2:1, 3:2, 4:3, 5:4},
    # 'DC252': {2: 20, 1: 10}, same
    # 'DC246': {2: 20, 1: 10},
    # 'DC244': {2: 20, 1: 10},
    # 'DC242': {2: 20, 1: 10},
    'DC241': {1:0, 2:1, 3:2, 6:3},
    'DC237f': {8:2},
    'DC237e': {8:2},
    'DC237d': {8:2},
    'DC237c': {8:2},
    'DC237b': {8:2},
    'DC237a': {8:2},
    'DC237': {8:2},
    'DC235': {1:0, 2:1, 3:2},
    # 'DC232b': {2: 20, 1: 10},
    # 'DC232': {2: 20, 1: 10},
    # 'DC230b': {2: 20, 1: 10},
    'DC230a': {1:0, 2:1, 3:2, 4:3, 5:4},
    'DC226': {1:0, 2:1, 3:2, 4:3, 5:4, 6:5, 7:6, 8:7, 9:8, 10:9, 95:10},
    'DC219': {1:0, 2:1},
    'DC217': {2: 20, 1: 10},
    'DC215': {12:0, 13:1, 21:2, 22:3, 23:4, 31:5, 32:6, 33:7, 34:8, 35:9, 36:10, 96:11},
    'DC214': {12:0, 21:1, 22:2, 23:3, 24:4, 25:5, 26:6, 31:7, 32:8, 34:9, 35:10, 36:11, 37:12, 38:13, 96:14},
    'DC213': {11:0, 21:1, 22:2, 31:3, 32:4, 33:5, 34:6, 35:7, 36:8, 96:9},
    'DC024': {11:0, 12:1, 13:2, 14:3, 15:4, 16:5, 17:6, 18:7, 19:8, 21:9, 31:10, 32:11, 33:12, 34:13, 35:14, 36:15, 51:16,
              52:17, 53:18, 61:19, 62:20, 63:21, 64:22, 65:23, 71:24, 72:25, 73:26, 74:27, 75:28, 76:29, 81:30, 82:31, 91:32, 94:33},
    'DC025': {1:0, 2:1},
    'DC205': {12:0, 16:1, 17:2, 21:3, 31:4, 96:5},
    'DC206': {0:0, 1:1},
    'DC207': {0:0, 1:1},
    'DC208': {0:0, 1:1},
    'DC209': {0:0, 1:1},
    'DC210': {0:0, 1:1},
    'DC211': {0:0, 1:1},
    'DC212': {0:0, 1:1},
    })

In [ ]:
# ENCODER

df_replace = df.replace({
    'DC109': {11:0, 12:1, 21:2, 31:3, 32:4, 33:5, 41:6, 51:7, 96:8}, 
    'DC270a': {1:0, 2:1, 3:2, 4:3, 5:4},
    # 'DC252': {2: 20, 1: 10}, same
    # 'DC246': {2: 20, 1: 10},
    # 'DC244': {2: 20, 1: 10},
    # 'DC242': {2: 20, 1: 10},
    'DC241': {1:0, 2:1, 3:2, 6:3},
    'DC237f': {8:2},
    'DC237e': {8:2},
    'DC237d': {8:2},
    'DC237c': {8:2},
    'DC237b': {8:2},
    'DC237a': {8:2},
    'DC237': {8:2},
    'DC235': {1:0, 2:1, 3:2},
    # 'DC232b': {2: 20, 1: 10},
    # 'DC232': {2: 20, 1: 10},
    # 'DC230b': {2: 20, 1: 10},
    'DC230a': {1:0, 2:1, 3:2, 4:3, 5:4},
    'DC226': {1:0, 2:1, 3:2, 4:3, 5:4, 6:5, 7:6, 8:7, 9:8, 10:9, 11:10, 95:11, 96:12},
    'DC219': {1:0, 2:1},
    # 'DC217': {2: 20, 1: 10},
    'DC215': {10:0, 12:1, 13:2, 20:3, 21:4, 22:5, 23:6, 30:7, 31:8, 32:9, 33:10, 34:11, 35:12, 36:13, 96:14},
    'DC024': {11:0, 12:1, 13:2, 14:3, 15:4, 16:5, 17:6, 18:7, 19:8, 21:9, 31:10, 32:11, 33:12, 34:13, 35:14, 36:15, 51:16,
              52:17, 53:18, 61:19, 62:20, 63:21, 64:22, 65:23, 71:24, 72:25, 73:26, 74:27, 75:28, 76:29, 81:30, 82:31, 91:32, 94:33},
    'DC025': {1:0, 2:1},
    'DC205': {10:0, 11:1, 12:2, 13:3, 14:4, 15:5, 16:6, 17:7, 20:8, 21:9, 22:10, 23:11, 30:12, 31:13, 41:14, 42:15, 43:16, 96:17},
    'DC206': {0:0, 1:1},
    'DC207': {0:0, 1:1},
    'DC208': {0:0, 1:1},
    'DC209': {0:0, 1:1},
    'DC210': {0:0, 1:1},
    'DC211': {0:0, 1:1},
    'DC212': {0:0, 1:1},
    'DC213': {10:0, 11:1, 12:2, 20:3, 21:4, 22:5, 30:6, 31:7, 32:8, 33:9, 34:10, 35:11, 36:12, 96:13},
    'DC214': {10:0, 12:1, 13:2, 20:3, 21:4, 22:5, 23:6, 24:7, 25:8, 26:9, 30:10, 31:11, 32:12, 34:13, 35:14, 36:15, 37:16, 38:17, 96:18}
    })

In [ ]:
# DECODER

df_replace = df.replace({
    'DC109': {0:11, 2:21, 3:31, 4:32, 5:33, 6:41, 7:51, 8:96}, 
    'DC270a': {0:1, 1:2, 2:3, 3:4, 4:5},
    # 'DC252': {2: 20, 1: 10}, same
    # 'DC246': {2: 20, 1: 10},
    # 'DC244': {2: 20, 1: 10},
    # 'DC242': {2: 20, 1: 10},
    'DC241': {0:1, 1:2, 2:3, 3:6},
    'DC237f': {2:8},
    'DC237e': {2:8},
    'DC237d': {2:8},
    'DC237c': {2:8},
    'DC237b': {2:8},
    'DC237a': {2:8},
    'DC237': {2:8},
    'DC235': {0:1, 1:2, 2:3},
    # 'DC232b': {2: 20, 1: 10},
    # 'DC232': {2: 20, 1: 10},
    # 'DC230b': {2: 20, 1: 10},
    'DC230a': {0:1, 1:2, 2:3, 3:4, 4:5},
    'DC226': {0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:95, 12:96},
    'DC219': {0:1, 1:2},
    # 'DC217': {2: 20, 1: 10},
    'DC215': {0:10, 1:12, 2:13, 3:20, 4:21, 5:22, 6:23, 7:30, 8:31, 9:32, 10:33, 11:34, 12:35, 13:36, 14:96},
    'DC024': {0: 11, 1: 12, 2: 13, 3: 14, 4: 15, 5: 16, 6: 17, 7: 18, 8: 19, 9: 21, 10: 31, 11: 32, 12: 33, 13: 34, 14: 35, 15: 36, 16: 51, 17: 52, 18: 53, 19: 61, 20: 62, 21: 63, 22: 64, 23: 65, 24: 71, 25: 72, 26: 73, 27: 74, 28: 75, 29: 76, 30: 81, 31: 82, 32: 91, 33: 94},
    'DC025': {0: 1, 1: 2},
    'DC205': {0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 20, 9: 21, 10: 22, 11: 23, 12: 30, 13: 31, 14: 41, 15: 42, 16: 43, 17: 96},
    'DC206': {0: 0, 1: 1},
    'DC207': {0: 0, 1: 1},
    'DC208': {0: 0, 1: 1},
    'DC209': {0: 0, 1: 1},
    'DC210': {0: 0, 1: 1},
    'DC211': {0: 0, 1: 1},
    'DC212': {0: 0, 1: 1},
    'DC213': {0: 10, 1: 11, 2: 12, 3: 20, 4: 21, 5: 22, 6: 30, 7: 31, 8: 32, 9: 33, 10: 34, 11: 35, 12: 36, 13: 96},
    'DC214': {0: 10, 1: 12, 2: 13, 3: 20, 4: 21, 5: 22, 6: 23, 7: 24, 8: 25, 9: 26, 10: 30, 11: 31, 12: 32, 13: 34, 14: 35, 15: 36, 16: 37, 17: 38, 18: 96}
    })

In [40]:
gajelas = """10
12
13
20
21
22
23
30
31
32
33
34
35
36
96"""

for i, line in enumerate(gajelas.split('\n')):
    print(f"{line}:{i},")

10:0,
12:1,
13:2,
20:3,
21:4,
22:5,
23:6,
30:7,
31:8,
32:9,
33:10,
34:11,
35:12,
36:13,
96:14,

In [21]:
df_replace

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,0,1,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0,1.0,60.0,Layak Minum
1,0,1,4.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1,3.0,70.0,Layak Minum
2,0,1,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,3,0.0,75.0,Layak Minum
3,0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,NaN,1.0,0.0,1.0,0,0.0,85.0,Layak Minum
4,0,1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,33,0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,NaN,0.0,0.0,0.0,0,2.0,9.0,Layak Minum
35969,33,0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,12.0,Layak Minum
35970,33,0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0,0.0,48.0,Layak Minum
35971,33,0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,39.0,Layak Minum
35972,33,0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,40.0,Layak Minum

In [29]:
except_column = ['DC216', 'DC220', 'DC142a']
ALL_COLUMNS = [column for column in df.columns if column not in except_column]

In [36]:
for i, column in enumerate(ALL_COLUMNS):
    print(column, np.sort(df.iloc[:,i].unique()), ":", np.sort(df_replace.iloc[:,i].unique()))
    print('---')

DC024 [11 12 13 14 15 16 17 18 19 21 31 32 33 34 35 36 51 52 53 61 62 63 64 65
 71 72 73 74 75 76 81 82 91 94] : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33]
---
DC025 [1 2] : [0 1]
---
DC205 [12. 16. 17. 21. 31. 96. nan] : [ 0.  1.  2.  3.  4.  5. nan]
---
DC206 [ 0.  1. nan] : [ 0.  1. nan]
---
DC207 [ 0.  1. nan] : [ 0.  1. nan]
---
DC208 [ 0.  1. nan] : [ 0.  1. nan]
---
DC209 [ 0.  1. nan] : [ 0.  1. nan]
---
DC210 [ 0.  1. nan] : [ 0.  1. nan]
---
DC211 [ 0.  1. nan] : [ 0.  1. nan]
---
DC212 [ 0.  1. nan] : [ 0.  1. nan]
---
DC213 [11. 21. 22. 31. 32. 33. 34. 35. 36. 96. nan] : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. nan]
---
DC214 [12. 21. 22. 23. 24. 25. 26. 31. 32. 34. 35. 36. 37. 38. 96. nan] : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. nan]
---
DC215 [12. 13. 21. 22. 23. 31. 32. 33. 34. 35. 36. 96. nan] : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. nan]
---
DC217 [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 14. 20. nan] : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 14. 20. nan]
---
DC219 [0 1 2 3 4 5] : [ 0  3  4  5 10 20]
---
DC226 [1 2] : [0 1]
---
DC230a [13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30.
 31. 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48.
 49. 50. 51. 52. 53. 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66.
 67. 68. 69. 70. 71. 72. 73. 74. 75. 76. 77. 78. 79. 80. 81. 82. 83. 84.
 85. 86. 87. 88. 89. 90. 91. 92. 93. 94. 95. 98. nan] : [13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30.
 31. 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48.
 49. 50. 51. 52. 53. 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66.
 67. 68. 69. 70. 71. 72. 73. 74. 75. 76. 77. 78. 79. 80. 81. 82. 83. 84.
 85. 86. 87. 88. 89. 90. 91. 92. 93. 94. 95. 98. nan]
---
DC230b [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 95. nan] : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. nan]
---
DC232 [ 1.  2.  3.  4.  5. nan] : [ 0.  1.  2.  3.  4. nan]
---
DC232b [ 0.  1. nan] : [ 0.  1. nan]
---
DC235 [ 0.  1. nan] : [ 0.  1. nan]
---
DC237 [ 0.  1. nan] : [ 0.  1. nan]
---
DC237a [ 1.  2.  3. nan] : [ 0.  1.  2. nan]
---
DC237b [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC237c [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC237d [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC237e [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC237f [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC241 [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC242 [ 0.  1.  8. nan] : [ 0.  1.  2. nan]
---
DC244 [ 1.  2.  3.  6. nan] : [ 0.  1.  2.  3. nan]
---
DC246 [ 0.  1. nan] : [ 0.  1. nan]
---
DC252 [ 0.  1. nan] : [ 0.  1. nan]
---
DC270a [ 0.  1. nan] : [ 0.  1. nan]
---
DC109 [ 0.  1.  2.  3.  4. nan] : [ 0.  1.  2.  3.  4. nan]
---
DC201 [1 2 3 4 5] : [0 1 2 3 4]
---